<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ritmiks</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/reset.css">
</head>
<body>
    <header class="header">
        <div class="wrapper">
            <div class="header__wrapper">
                <div class="header_mobile-menu">
                    <button>
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
                <nav class="header_nav">
                    <ul class="head_list_left">
                        <li class="head_item_left">
                            <p class="head_link">Для спортсменов
                                <img src="../icons/expand_more.svg" alt="">
                            </p>
                            <ul class="head_list_2">
                                <li class="head_item_2">
                                    <a href="../shedule.html" class="head_link_2">Расписание тренировок</a>
                                </li>
                                <li class="head_item_2">
                                    <a href="../info.html" class="head_link_2">Основная информация</a>
                                </li>
                                <li class="head_item_2">
                                    <a href="../plan.html" class="head_link_2">План тренировок</a>
                                </li>
                            </ul>
                        </li>
                        <li class="head_item_left">
                            <p class="head_link">О клубе
                                <img src="../icons/expand_more.svg" alt="">
                            </p>
                            <ul class="head_list_2">
                                <li class="head_item_2">
                                    <a href="../blog.html" class="head_link_2">Блог клуба</a>
                                </li>
                                <li class="head_item_2">
                                    <a href="../philosophy.html" class="head_link_2">Философия</a>
                                </li>
                                <li class="head_item_2">
                                    <a href="../results.html" class="head_link_2">Достижения</a>
                                </li>
                            </ul>
                        </li>
                        <li class="head_item_left">
                            <p class="head_link">Направления
                                <img src="../icons/expand_more.svg" alt="">
                            </p>
                            <ul class="head_list_2">
                                <li class="head_item_2">
                                    <a href="../cheerleading.html" class="head_link_2">Чирлидинг</a>
                                </li>
                                <li class="head_item_2">
                                    <a href="../freestyle.html" class="head_link_2">Фристайл</a>
                                </li>
                                <li class="head_item_2">
                                    <a href="../acro.html" class="head_link_2">Акробатика</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="logo">
                        <a href="../index.html" class="logo_link">
                            <img src="../icons/logo_black.png" alt="Ritmiks" class="logo_pic">
                        </a>
                    </div>
                    <ul class="head_list_right">
                        <li class="head_item_right">
                            <a href="../reviews.html" class="head_link">Отзывы</a>
                        </li>
                        <li class="head_item_right" style="margin-right: 30px;">
                            <a href="../contacts.html" class="head_link">Контакты</a>
                        </li>
                    </ul>
                </nav>
                <div class="tele">
                    <div class="tele_logo">
                        <div class="logo_tel">
                            <a href="https://t.me/ritmikscheer">
                                <img src="../icons/tg.svg" alt="" class="social">
                            </a>
                        </div>
                        <div class="logo_tel">
                            <a href="https://wa.me/+79775258997">
                                <img src="../icons/wa.svg" alt="" class="social">
                            </a>
                        </div>
                        <div class="logo_tel">
                            <a href="https://www.instagram.com/ritmikscheer">
                                <img src="../icons/inst.svg" alt="" class="social">
                            </a>
                        </div>
                    </div>
                    <a href="tel:79775258997" class="tele_link">+7 (977) 525-89-97</a>
                </div>
            </div>
        </div>
    </header>
    <main class="main">
        <section class="intro_cheer">
                <div class="wrapper_intro">
                    <h1 class="title_intro">Фристайл в Москве</h1>
                    <p class="text_intro">Фристайл - это удивительное сочетание балета,
                         художественной гимнастики, современной хореографии и акробатики.</p>
                    <div class="buttons_intro">
                        <button class="but_intro_1" id="openModalButton" onclick="setupModal('modal', 'openModalButton', '.close');">
                            <p class="text_but_intro">Записаться в команду</p>
                        </button>
                        <div id="modal" class="modal">
                            <div class="modal-content">
                                <span class="close">&times;</span>
                                <h3 class="title_form"><strong>Заявка</strong> <br>на пробную тренировку</h3>
                                <form class="form_reg" id="registrationForm" action="/submit_freest" method="post">
                                    <div class="input_form">
                                        <input name="name" class="input-field" type="text" placeholder="Ваше Имя" required>
                                        <input name="year" class="input-field" type="year" placeholder="Год рождения" required>
                                        <input name="phone" class="input-field" type="tel" placeholder="Телефон" required>
                                    </div>
                                    <p class="title_form">Дисциплина</p>
                                    <select name="discipline" class="select-field">
                                        <option value="Чирлидинг">Чирлидинг</option>
                                        <option value="Фристайл">Фристайл</option>
                                        <option value="Акробатика">Акробатика</option>
                                        <option value="Затрудняюсь ответить">Затрудняюсь ответить</option>
                                    </select>
                                    <button class="bur_form" type="submit">Отправить</button>
                                </form>
                            </div>
                        </div>
                        <button class="but_intro_2" onclick="openVideo()">
                            <p class="text_but_intro">Смотреть видео</p>
                        </button>

                        <div id="videoModal" class="modal">
                            <div class="modal-content">
                                <span class="close" onclick="closeVideo()">&times;</span>
                                <iframe width="840" height="473" src="https://www.youtube.com/embed/QnKhoGraJCo?si=-vUVOHNVbSmjxHWK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            <img src="../img/freestyle.jpg" alt="" class="intro_img">
            <div class="overlay"></div>
        </section>
        <section class="description">
            <div class="wrapper">
                <h2 class="title_blue">Что такое фристайл?</h2>
                <div class="descr_text_photo">
                    <p class="descr_text"><strong>Фристайл и джаз</strong> - это удивительное сочетание <strong>балета</strong>,
                         <strong>художественной гимнастики</strong>, современной <strong>хореографии</strong> и <strong>акробатики</strong>.
                          Но в отличии от гимнастики и балета здесь нет таких строгих требований к физическим данным,
                           во-первых, и нет такой жесткой системы тренировок,
                            с травматичными растяжками или запредельной выворотностью, во-вторых.
                            Этот вид спорта мягче и физиологичнее, при этом в нем сохраняется грация, пластичность,
                             богатая хореография и зрелищные акробатические элементы</p>
                    <img src="../img/freest_descr.jpg" alt="" class="descr_img">
                </div>
            </div>
        </section>
        <section class="age_categ">
            <div class="wrapper">
                <h2 class="title_white">Возрастные категории</h2>
                <div class="age_categ_wrapper">
                    <div class="categ_circle">
                        <div class="circle_top">
                            <div class="circle_text">
                                <div class="circle">
                                    <img src="../img/freest_ag1.jpg" alt="">
                                </div>
                                <h3 class="name_categ">Младшие дети</h3>
                                <p class="text_categ">5-7 лет</p>
                            </div>
                            <div class="circle_text">
                                <div class="circle">
                                    <img src="../img/freest_ag2.jpg" alt="">
                                </div>
                                <h3 class="name_categ">Мальчики/девочки</h3>
                                <p class="text_categ">8-11 лет</p>
                            </div>
                            <div class="circle_text">
                                <div class="circle">
                                    <img src="../img/freest_ag3.jpg" alt="">
                                </div>
                                <h3 class="name_categ">Юноши/девушки</h3>
                                <p class="text_categ">12-14 лет</p>
                            </div>
                        </div>

                    </div>
                    <p class="text_age_categ">Принимаем <strong>всех желающих</strong> от 5 до 14 лет, если нет медицинских противопоказаний,
                         в том числе из других видов спорта, с разной степенью спортивной подготовки и без нее</p>
                </div>
            </div>
        </section>
        <section class="coaches">
            <div class="wrapper">
                <h2 class="title_blue">Тренерский состав</h2>
                <div class="text_coaches">
                    <p class="text_coach">Все тренеры клуба являются <strong>профессионалами</strong> своего дела,
                         имеют высшее профильное образование и сертификацию Федерации чир спорта</p>
                        <div class="coaches_freest">
                            <div class="coach_info spec" data-info="Кандидат в мастера спорта, чемпионка России, вице-чемпионка Европы по чирлидингу, многократный победитель и призер Всероссийских соревнований по чир спорту, а также этапов Евролиг. Ведущий тренер клуба по акробатике. Действующая спортсменка.">
                                <div class="coach">
                                    <div class="background"></div>
                                    <img src="../img/freest_coach1.png" alt="" class="photo_coach">
                                </div>
                                <h3 class="name_coach">Дарья Владимировна Карпычева</h3>
                            </div>
                            <div class="coach_info spec" style="margin-top: -60px;" data-info="Кандидат в Мастера спорта России по чир спорту, Чемпионка Европы, многократный призер Чемпионатов России, многократный победитель и призер Всероссийских соревнований, Кубка России по чир спорту. Спортивный судья 1й категории.">
                                <div class="coach">
                                    <div class="background"></div>
                                    <img src="../img/freest_coach2.png" alt="" class="photo_coach">
                                </div>
                                <h3 class="name_coach">Полина Александровна Баева</h3>
                            </div>
                            <div class="coach_info" data-info="Кандидат в мастера спорта по художественной гимнастике, кандидат в мастера спорта по чирлидингу. Многократный призер Всероссийских соревнований по чир спорту. Действующая спортсменка.">
                                <div class="coach">
                                    <div class="background"></div>
                                    <img src="../img/freest_coach3.png" alt="" class="photo_coach">
                                </div>
                                <h3 class="name_coach">Алина Игоревна Лаврентьева</h3>
                            </div>
                        </div>
                </div>
            </div>
        </section>
        <section class="info_about">
            <div class="wrapper">
                <h2 class="title_white">Что нужно, чтобы попасть в команду?</h2>
                <div class="info_part">
                    <img src="../img/info_freest1.jpg" alt="" class="photo_info">
                    <p class="text_info1">Главным достоинством чирлидинга является его истинная <strong>демократичность</strong>!
                         Каждый участник команды уникален и ценен.
                          В этом виде спорта роли в команде различны и каждый сможет проявить себя и раскрыться в полной мере.
                           Так что, даже если вам кажется, что у вас совершенно не спортивная фигура или нет способностей к спорту
                            - это заблуждение, которое с лёгкостью развеется на тренировках по чирлидингу.
                             Единственным необходимым требованием является характер - <strong>целеустремлённость</strong>,
                              <strong>желание зажечь</strong> окружающих своей энергией, <strong>воля к победе</strong>, вот необходимые качества для чирлидера</p>
                </div>
                <hr class="line_info">
                <h2 class="title_white">Сколько стоят занятия?</h2>
                <div class="info_part">
                    <div class="texts">
                        <p class="text_info2_1">
                            Мы хотим, чтобы чирлидинг развивался, завоевывая все больше сердец,
                         поэтому мы сделали наши тренировки максимально доступными для вас
                        </p>
                        <p class="text_info2_2">
                            Стоимость абонемента <strong>от 6700 рублей/мес</strong> при графике занятий 3р/нед.,
                         а также мы предоставляем скидки семьям, где тренировки в нашем клубе посещают двое и более детей,
                          а также даем скидки спортсменам посещающим тренировки в нескольких командах клуба
                        </p>
                    </div>
                    <img src="../img/info_freest2.jpg" alt="" class="photo_info" style="margin-right: 65px;">
                </div>
                <hr class="line_info">
                <div class="info_part" style="margin-top: 40px;">
                    <p class="text_end_info">
                        Хотите в команду? <strong>Всё просто!</strong> Заполните заявку или позвоните/напишите нам в
                         WatsApp по телефону 8(977) 525-89-97
                    </p>
                    <button class="button_sign" id="opModalButton" onclick="setupModal('modal', 'opModalButton', '.close');">
                        <p class="text_button">Заявка на пробное занятие</p>
                    </button>
                    <div id="modal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <h3 class="title_form"><strong>Заявка</strong> <br>на пробную тренировку</h3>
                            <form class="form_reg" id="registrationForm" action="/submit_freest" method="post">
                                <div class="input_form">
                                    <input name="name" class="input-field" type="text" placeholder="Ваше Имя" required>
                                    <input name="year" class="input-field" type="year" placeholder="Год рождения" required>
                                    <input name="phone" class="input-field" type="tel" placeholder="Телефон" required>
                                </div>
                                <p class="title_form">Дисциплина</p>
                                <select name="discipline" class="select-field">
                                    <option value="Чирлидинг">Чирлидинг</option>
                                    <option value="Фристайл">Фристайл</option>
                                    <option value="Акробатика">Акробатика</option>
                                    <option value="Затрудняюсь ответить">Затрудняюсь ответить</option>
                                </select>
                                <button class="bur_form" type="submit">Отправить</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <section class="footer">
            <div class="wrapper">
                <div class="footer_wrapper">
                    <div class="logo_footer">
                        <div class="logo_rit_footer">
                            <a href="/" class="logo_link_footer">
                                <img src="../icons/logo_black.png" alt="Ritmiks" class="logo_pic">
                            </a>
                        </div>
                        <div class="tele_footer">
                            <div class="tele_logo_footer">
                                <div class="logo_tel_footer">
                                    <a href="https://t.me/ritmikscheer">
                                        <img src="../icons/tg.svg" alt="" class="social">
                                    </a>
                                </div>
                                <div class="logo_tel_footer">
                                    <a href="https://wa.me/+79775258997">
                                        <img src="../icons/wa.svg" alt="" class="social">
                                    </a>
                                </div>
                                <div class="logo_tel_footer">
                                    <a href="https://www.instagram.com/ritmikscheer">
                                        <img src="../icons/inst.svg" alt="" class="social">
                                    </a>
                                </div>
                            </div>
                            <div>
                                <a href="tel:79775258997" class="tele_link_footer">+7 (977) 525-89-97</a>
                            </div>
                        </div>
                        <p class="foot_text">© СК "Ритмикс" 2024</p>
                    </div>
                    <nav class="nav_footer">
                        <ul class="list_footer">
                            <li class="item_footer">
                                <p class="text_item">Направления</p>
                                <ul class="list_footer_2">
                                    <li class="item_footer_2">
                                        <a href="/cheerleading" class="foot_link">Чирлидинг</a>
                                    </li>
                                    <li class="item_footer_2">
                                        <a href="/freestyle" class="foot_link">Фристайл</a>
                                    </li>
                                    <li class="item_footer_2">
                                        <a href="/acro" class="foot_link">Акробатика</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="item_footer">
                                <p class="text_item">О клубе</p>
                                <ul class="list_footer_2">
                                    <li class="item_footer_2">
                                        <a href="/blog" class="foot_link">Блог клуба</a>
                                    </li>
                                    <li class="item_footer_2">
                                        <a href="/philosophy" class="foot_link">Философия</a>
                                    </li>
                                    <li class="item_footer_2">
                                        <a href="/reviews" class="foot_link">Отзывы</a>
                                    </li>
                                    <li class="item_footer_2">
                                        <a href="/contacts" class="foot_link">Контакты</a>
                                    </li>
                                    <li class="item_footer_2">
                                        <a href="/results" class="foot_link">Достижения</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="item_footer">
                                <p class="text_item">Для спортсменов</p>
                                <ul class="list_footer_2">
                                    <li class="item_footer_2">
                                        <a href="/shedule" class="foot_link">Расписание тренировок</a>
                                    </li>
                                    <li class="item_footer_2">
                                        <a href="/info" class="foot_link">Основная информация</a>
                                    </li>
                                    <li class="item_footer_2">
                                        <a href="/plan" class="foot_link">План тренировок</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="footer_copyright-xs">
                    © СК "Ритмикс" 2024
                </div>
            </div>
        </section>
    </footer>
<div class="mobile-menu">
    <div class="mobile-menu-list">
        <nav class="nav_footer">
            <ul class="list_footer">
                <li class="item_footer">
                    <p class="text_item">Направления</p>
                    <ul class="list_footer_2">
                        <li class="item_footer_2">
                            <a href="/cheerleading" class="foot_link">Чирлидинг</a>
                        </li>
                        <li class="item_footer_2">
                            <a href="/freestyle" class="foot_link">Фристайл</a>
                        </li>
                        <li class="item_footer_2">
                            <a href="/acro" class="foot_link">Акробатика</a>
                        </li>
                    </ul>
                </li>
                <li class="item_footer">
                    <p class="text_item">О клубе</p>
                    <ul class="list_footer_2">
                        <li class="item_footer_2">
                            <a href="/blog" class="foot_link">Блог клуба</a>
                        </li>
                        <li class="item_footer_2">
                            <a href="/philosophy" class="foot_link">Философия</a>
                        </li>
                        <li class="item_footer_2">
                            <a href="/reviews" class="foot_link">Отзывы</a>
                        </li>
                        <li class="item_footer_2">
                            <a href="/contacts" class="foot_link">Контакты</a>
                        </li>
                        <li class="item_footer_2">
                            <a href="/results" class="foot_link">Достижения</a>
                        </li>
                    </ul>
                </li>
                <li class="item_footer">
                    <p class="text_item">Для спортсменов</p>
                    <ul class="list_footer_2">
                        <li class="item_footer_2">
                            <a href="/shedule" class="foot_link">Расписание тренировок</a>
                        </li>
                        <li class="item_footer_2">
                            <a href="/info" class="foot_link">Основная информация</a>
                        </li>
                        <li class="item_footer_2">
                            <a href="/plan" class="foot_link">План тренировок</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>

<script>
    const container = document.querySelector(".header_mobile-menu");
    const container2 = document.querySelector(".mobile-menu");

    container.onclick = function(){
        container2.classList.toggle("active");
    }
</script>
    <script src="../js/script.js"></script>
</body>
</html>
