<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ritmiks</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/reset.css">
</head>
<body>
    <header class="header">
        <div class="wrapper">
            <div class="header__wrapper">
                <div class="header_mobile-menu">
                    <button>
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
                <nav class="header_nav">
                    <ul class="head_list_left">
                        <li class="head_item_left">
                            <p class="head_link">Для спортсменов
                                <img src="../icons/expand_more.svg" alt="">
                            </p>
                            <ul class="head_list_2">
                                <li class="head_item_2">
                                    <a href="../shedule.html" class="head_link_2">Расписание тренировок</a>
                                </li>
                                <li class="head_item_2">
                                    <a href="../info.html" class="head_link_2">Основная информация</a>
                                </li>
                                <li class="head_item_2">
                                    <a href="../plan.html" class="head_link_2">План тренировок</a>
                                </li>
                            </ul>
                        </li>
                        <li class="head_item_left">
                            <p class="head_link">О клубе
                                <img src="../icons/expand_more.svg" alt="">
                            </p>
                            <ul class="head_list_2">
                                <li class="head_item_2">
                                    <a href="../blog.html" class="head_link_2">Блог клуба</a>
                                </li>
                                <li class="head_item_2">
                                    <a href="../philosophy.html" class="head_link_2">Философия</a>
                                </li>
                                <li class="head_item_2">
                                    <a href="../results.html" class="head_link_2">Достижения</a>
                                </li>
                            </ul>
                        </li>
                        <li class="head_item_left">
                            <p class="head_link">Направления
                                <img src="../icons/expand_more.svg" alt="">
                            </p>
                            <ul class="head_list_2">
                                <li class="head_item_2">
                                    <a href="../cheerleading.html" class="head_link_2">Чирлидинг</a>
                                </li>
                                <li class="head_item_2">
                                    <a href="../freestyle.html" class="head_link_2">Фристайл</a>
                                </li>
                                <li class="head_item_2">
                                    <a href="../acro.html" class="head_link_2">Акробатика</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="logo">
                        <a href="../index.html" class="logo_link">
                            <img src="../icons/logo_black.png" alt="Ritmiks" class="logo_pic">
                        </a>
                    </div>
                    <ul class="head_list_right">
                        <li class="head_item_right">
                            <a href="../reviews.html" class="head_link">Отзывы</a>
                        </li>
                        <li class="head_item_right" style="margin-right: 30px;">
                            <a href="../contacts.html" class="head_link">Контакты</a>
                        </li>
                    </ul>
                </nav>
                <div class="tele">
                    <div class="tele_logo">
                        <div class="logo_tel">
                            <a href="https://t.me/ritmikscheer">
                                <img src="../icons/tg.svg" alt="" class="social">
                            </a>
                        </div>
                        <div class="logo_tel">
                            <a href="https://wa.me/+79775258997">
                                <img src="../icons/wa.svg" alt="" class="social">
                            </a>
                        </div>
                        <div class="logo_tel">
                            <a href="https://www.instagram.com/ritmikscheer">
                                <img src="../icons/inst.svg" alt="" class="social">
                            </a>
                        </div>
                    </div>
                    <a href="tel:79775258997" class="tele_link">+7 (977) 525-89-97</a>
                </div>
            </div>
        </div>
    </header>
    <main class="main">
        <section class="philosophy">
            <div class="wrapper">
                <h2 class="title_blue" style="text-align: center;">Клуб Ritmiks</h2>
                <div class="phil_section">
                    <div class="all_text_phil">
                        <h3 class="title_phil">Наша миссия:</h3>
                        <p class="text_phil">
                            Помочь в воспитании подрастающего поколения в духе истинно спортивных ценностей: честных побед,
                             спортивного характера, командной работы не только на тренировках, но и за пределами зала!
                        </p>
                    </div>
                    <img src="../img/phil_1.jpg" alt="">
                </div>
                <div class="phil_section">
                    <img src="../img/phil_2.jpg" alt="">
                    <div class="all_text_phil">
                        <h3 class="title_phil">Наша философия:</h3>
                        <p class="text_phil">
                            Мы ценим уникальность и видим потенциал каждого спортсмена,
                             и находим для каждого роль в команде, способную дать максимальное раскрытие и реализацию этого потенциала.
                              Мы свято чтим кодекс спортсменов и воспитываем своих подопечных в духе истинно спортивных ценностей,
                               помогая стать лучше и превратить свои уязвимости в силу.
                               Мы верим, что разделяя наши ценности дети смогут максимально эффективно раскрыть свои таланты
                                и реализоваться в жизни, своим примером формируя и свое здоровое окружение и прокладывая свой
                                 уверенный путь к достижениям не только в спорте, но и во всех сферах своей жизни.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <section class="footer">
            <div class="wrapper">
                <div class="footer_wrapper">
                    <div class="logo_footer">
                        <div class="logo_rit_footer">
                            <a href="/" class="logo_link_footer">
                                <img src="../icons/logo_black.png" alt="Ritmiks" class="logo_pic">
                            </a>
                        </div>
                        <div class="tele_footer">
                            <div class="tele_logo_footer">
                                <div class="logo_tel_footer">
                                    <a href="https://t.me/ritmikscheer">
                                        <img src="../icons/tg.svg" alt="" class="social">
                                    </a>
                                </div>
                                <div class="logo_tel_footer">
                                    <a href="https://wa.me/+79775258997">
                                        <img src="../icons/wa.svg" alt="" class="social">
                                    </a>
                                </div>
                                <div class="logo_tel_footer">
                                    <a href="https://www.instagram.com/ritmikscheer">
                                        <img src="../icons/inst.svg" alt="" class="social">
                                    </a>
                                </div>
                            </div>
                            <div>
                                <a href="tel:79775258997" class="tele_link_footer">+7 (977) 525-89-97</a>
                            </div>
                        </div>
                        <p class="foot_text">© СК "Ритмикс" 2024</p>
                    </div>
                    <nav class="nav_footer">
                        <ul class="list_footer">
                            <li class="item_footer">
                                <p class="text_item">Направления</p>
                                <ul class="list_footer_2">
                                    <li class="item_footer_2">
                                        <a href="/cheerleading" class="foot_link">Чирлидинг</a>
                                    </li>
                                    <li class="item_footer_2">
                                        <a href="/freestyle" class="foot_link">Фристайл</a>
                                    </li>
                                    <li class="item_footer_2">
                                        <a href="/acro" class="foot_link">Акробатика</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="item_footer">
                                <p class="text_item">О клубе</p>
                                <ul class="list_footer_2">
                                    <li class="item_footer_2">
                                        <a href="/blog" class="foot_link">Блог клуба</a>
                                    </li>
                                    <li class="item_footer_2">
                                        <a href="/philosophy" class="foot_link">Философия</a>
                                    </li>
                                    <li class="item_footer_2">
                                        <a href="/reviews" class="foot_link">Отзывы</a>
                                    </li>
                                    <li class="item_footer_2">
                                        <a href="/contacts" class="foot_link">Контакты</a>
                                    </li>
                                    <li class="item_footer_2">
                                        <a href="/results" class="foot_link">Достижения</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="item_footer">
                                <p class="text_item">Для спортсменов</p>
                                <ul class="list_footer_2">
                                    <li class="item_footer_2">
                                        <a href="/shedule" class="foot_link">Расписание тренировок</a>
                                    </li>
                                    <li class="item_footer_2">
                                        <a href="/info" class="foot_link">Основная информация</a>
                                    </li>
                                    <li class="item_footer_2">
                                        <a href="/plan" class="foot_link">План тренировок</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="footer_copyright-xs">
                    © СК "Ритмикс" 2024
                </div>
            </div>
        </section>
    </footer>
<div class="mobile-menu">
    <div class="mobile-menu-list">
        <nav class="nav_footer">
            <ul class="list_footer">
                <li class="item_footer">
                    <p class="text_item">Направления</p>
                    <ul class="list_footer_2">
                        <li class="item_footer_2">
                            <a href="/cheerleading" class="foot_link">Чирлидинг</a>
                        </li>
                        <li class="item_footer_2">
                            <a href="/freestyle" class="foot_link">Фристайл</a>
                        </li>
                        <li class="item_footer_2">
                            <a href="/acro" class="foot_link">Акробатика</a>
                        </li>
                    </ul>
                </li>
                <li class="item_footer">
                    <p class="text_item">О клубе</p>
                    <ul class="list_footer_2">
                        <li class="item_footer_2">
                            <a href="/blog" class="foot_link">Блог клуба</a>
                        </li>
                        <li class="item_footer_2">
                            <a href="/philosophy" class="foot_link">Философия</a>
                        </li>
                        <li class="item_footer_2">
                            <a href="/reviews" class="foot_link">Отзывы</a>
                        </li>
                        <li class="item_footer_2">
                            <a href="/contacts" class="foot_link">Контакты</a>
                        </li>
                        <li class="item_footer_2">
                            <a href="/results" class="foot_link">Достижения</a>
                        </li>
                    </ul>
                </li>
                <li class="item_footer">
                    <p class="text_item">Для спортсменов</p>
                    <ul class="list_footer_2">
                        <li class="item_footer_2">
                            <a href="/shedule" class="foot_link">Расписание тренировок</a>
                        </li>
                        <li class="item_footer_2">
                            <a href="/info" class="foot_link">Основная информация</a>
                        </li>
                        <li class="item_footer_2">
                            <a href="/plan" class="foot_link">План тренировок</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
<script>
    const container = document.querySelector(".header_mobile-menu");
    const container2 = document.querySelector(".mobile-menu");

    container.onclick = function(){
        container2.classList.toggle("active");
    }
</script>
</body>
</html>
